/* Estilos Globales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  background: #fafafa;
}

/* Estilos Globales FIN*/

/* Clases de FullPage.js */

#fp-nav ul li a span {
  background: #1fdd5f;
}

#fp-nav ul li .fp-tooltip {
  color: black;
}

/* Clases de FullPage.js FIN */

/* Menu De Navegacion */

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 15px;

  background: -moz-linear-gradient(
    left,
    rgba(19, 161, 140, 1) 0%,
    rgba(19, 161, 139, 1) 51%,
    rgba(31, 221, 94, 1) 74%,
    rgba(31, 221, 94, 1) 92%,
    rgba(31, 221, 94, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(19, 161, 140, 1)),
    color-stop(51%, rgba(19, 161, 139, 1)),
    color-stop(74%, rgba(31, 221, 94, 1)),
    color-stop(92%, rgba(31, 221, 94, 1)),
    color-stop(100%, rgba(31, 221, 94, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(19, 161, 140, 1) 0%,
    rgba(19, 161, 139, 1) 51%,
    rgba(31, 221, 94, 1) 74%,
    rgba(31, 221, 94, 1) 92%,
    rgba(31, 221, 94, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(19, 161, 140, 1) 0%,
    rgba(19, 161, 139, 1) 51%,
    rgba(31, 221, 94, 1) 74%,
    rgba(31, 221, 94, 1) 92%,
    rgba(31, 221, 94, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(19, 161, 140, 1) 0%,
    rgba(19, 161, 139, 1) 51%,
    rgba(31, 221, 94, 1) 74%,
    rgba(31, 221, 94, 1) 92%,
    rgba(31, 221, 94, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(19, 161, 140, 1) 0%,
    rgba(19, 161, 139, 1) 51%,
    rgba(31, 221, 94, 1) 74%,
    rgba(31, 221, 94, 1) 92%,
    rgba(31, 221, 94, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13a18c', endColorstr='#1fdd5e', GradientType=1 );
}

.nav li,
.nav a {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: 0.5 ease;
  font-size: 17px;
}

.nav li.active {
  border-bottom: 2px solid white;
}

/* Menu De Navegacion FIN */

/* Pagina Principal */
.contenedor-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 85vw;
  width: 90%;
  margin: auto;
}

.contenedor-titulo {
  margin-left: 15px;
}

.hero-imageContainer {
  max-width: 28.125em;
}

.btn {
  padding: 10px 25px;
  background-color: #1fdd5f;
  border-color: #1fdd5f;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.btn:hover {
  background-color: #13a18b;
  border-color: #13a18b;
  color: white;
}

.hero-main {
  font-size: 3.75em;
  font-weight: 700;
}
.hero-emblem {
  margin: 10px 0px;
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 2.5em;
}

.header .contenedor-icono {
  position: absolute;
  bottom: 6%;
  left: 50%;
  font-size: 50px;
  animation: bajar-subir 1s ease infinite;
}

.header .contenedor-icono a {
  color: #1fdd5f;
}

/* Animacion Inicial */

@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Animacion Inicial FIN */

/* Pagina principal FIN */

/* Seccion de Personal  */

.contenedor-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
  width: 90%;
  margin: auto;
}

.contenedor-exp {
  width: 45%;
  color: white;
}

.nombre-Doctora {
  font-size: 2.8125em;
  font-weight: 500;
}

.doc-exp {
  margin: 10px 0px;
  font-size: 1.25em;
  font-weight: 300;
  /* margin-bottom: 2.5em; */
}

.doc-imageContainer {
  max-width: 600px;
  width: 50%;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.doc-imageContainer img {
  /* max-width: 800px; */
  width: 80%;
}

/* Seccion de Personal FIN */

/* Seccion de Servicios V2  */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 85vw;
  width: 80%;
  margin: auto;
}

.informacion-servicio {
  margin-left: 15px;
  width: 45%;
}

.titulo-servicio {
  font-size: 2.8125em;
  font-weight: 600;
}

.service-imageContainer {
  max-width: 700px;
  width: 50%;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 5px;
}

.service-imageContainer img {
  width: 100%;
}

/* Seccion de Servicios V2 FIN */

/* Pagina de Servicios */

.servicios article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.servicios .informacion-servicio {
  margin: 0 30px;
  width: 40%;
}

/* .servicios .informacion-servicio::before {
  content: "";
  height: 100px;
  width: 2px;
  display: inline-block;
  background: #13a18b;
  position: absolute;
  top: 48%;
  margin: -10px;
} */

.servicios .titulo-servicio {
  font-size: 2.1875rem;
}

.servicios .descripcion {
  font-size: 18px;
  margin-top: 15px;
}

.servicios .precio {
  font-size: 25px;
  margin-top: 15px;
}

.servicios .precio span {
  font-size: 30px;
  color: green;
}
/* Flechas de Slide */

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-prev {
  left: 80%;
  border-width: 20px 20px 20px 0;
  border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 10%;
  border-width: 20px 0px 20px 20px;
  border-color: transparent transparent transparent black;
}

/* Flechas de Slide FIN */

/* Pagina de Servicios FIN */

/* Pagina de logros */

.container-logros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */
}

.container-logros h1 {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.container-card {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.container-card .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(33.3% - 40px);
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  background-color: #fafafa;
  margin: 20px;
}
.logros-imageContainer {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logros-imageContainer img {
  max-width: 100%;
}
.container-card .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.logros-descripcion {
  margin-bottom: auto;
  width: 80%;
}

.logros-descripcion .logros-encabezado {
  font-size: 35px;
  font-weight: 600;
  margin-top: 5px;
}

.logros-descripcion p {
  font-size: 20;
  font-weight: 500;
  margin-top: 5px;
}

/* Pagina de logros FIN */

/* Pagina de Contacto */

.footer {
  max-height: 100vh;
}

.contact-container {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 45vh;
}

.contact-details {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 40%;
}

.contact-details h3 {
  margin-top: 10px;
  font-weight: 600;
  color: white;
}

.contact-details h1 {
  margin-top: 10px;
  font-weight: 700;
  color: white;
}
.contact-details h3 a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.contact-details h3 span {
  font-weight: 400;
  color: white;
}

.contact-details h3 a:hover {
  color: #00bb2d;
}

.e-mail::after {
  content: "borealclinicadental@hotmail.com";
  font-weight: 400;
}

.container-contact-Links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 40%;
  font-size: 50px;
}

.footer .container-contact-Links a {
  display: flex;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #30313a;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin: 0 20px;
}

.footer .facebook i {
  color: #3b5998;
}
.footer .ig i {
  color: #c13584;
}
.footer .wpp i {
  color: #00bb2d;
}

.footer .facebook:hover {
  background: #3b5998;
}
.footer .ig:hover {
  background: #c13584;
}
.footer .wpp:hover {
  background: #00bb2d;
}

.footer .facebook:hover i {
  color: #fff;
}
.footer .ig:hover i {
  color: #fff;
}
.footer .wpp:hover i {
  color: #fff;
}

.Ubicacion {
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  font-size: 50px;
}

.mapa-container {
  /* margin: auto; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.mapa {
  width: 100vw;
  height: 60vh;
}

/* Pagina de Contacto FIN */

/* Media Queries */

@media (max-width: 1402px) {
  .nombre-Doctora {
    font-size: 2.1875rem;
  }

  .doc-exp {
    font-size: 18px;
  }

  .servicios .titulo-servicio {
    font-size: 30px;
  }

  .servicios .descripcion {
    font-size: 16px;
  }

  .contact-details h1 {
    font-size: 25px;
  }

  .contact-details h3 {
    font-size: 16px;
  }

  .contact-details h3 a {
    font-size: 16px;
  }
  .contact-details h3 span {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .container-contact-Links {
    font-size: 40px;
  }

  .footer .container-contact-Links a {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .contenedor-hero {
    justify-content: space-between;
    width: 100%;
  }
  .hero-imageContainer img {
    width: 22.5em;
    margin-right: -1.75em;
  }

  .hero-main {
    margin-left: 0;
  }

  .header .contenedor-icono {
    bottom: 10%;
  }

  .container-card .card {
    width: calc(100% - 40px);
    height: calc(33.3% - 40px);
    box-shadow: none;
  }

  .logros-imageContainer {
    width: unset;
    margin: unset;
    margin-right: 50px;
  }

  .logros-descripcion {
    width: 40%;
  }

  .logros-descripcion .logros-encabezado {
    font-size: 25px;
  }

  .logros-descripcion p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1092px) {
  .container-contact-Links {
    width: unset;
  }
}

@media screen and (max-width: 1037px) {
  .hero-main {
    font-size: 45px;
  }

  .logros-imageContainer img {
    width: 100px;
  }
}

@media (max-width: 1056px) {
  .hero-imageContainer {
    max-width: none;
  }
}

@media screen and (max-width: 988px) {
  .servicios .titulo-servicio {
    font-size: 20px;
  }

  .servicios .descripcion {
    font-size: 14px;
  }
}

@media screen and (max-width: 971px) {
  .contact-details {
    justify-content: flex-start;
    width: 50%;
  }
}

@media screen and (max-width: 970px) {
  .nombre-Doctora {
    font-size: 25px;
    margin-top: 10px;
  }

  .doc-exp {
    font-size: 16px;
  }

  .contenedor-exp {
    width: 100%;
    margin-top: 35px;
  }

  .contenedor-personal {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .doc-imageContainer {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 948px) {
  .contact-details {
    justify-content: center;
    width: 85%;
    text-align: center;
  }
}
@media screen and (max-width: 845px) {
  .hero-emblem {
    margin-bottom: 25px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .hero-main {
    margin-top: 1.25em;
  }

  .hero-imageContainer img {
    width: 300px;
    margin-top: 1.25em;
    margin-right: 0px;
  }
}
@media screen and (max-width: 777px) {
  .contact-details {
    width: 100%;
  }
}

@media screen and (max-width: 758px) {
  .contenedor {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contenedor-titulo {
    margin-left: 0;
  }

  .servicios .informacion-servicio {
    width: 100%;
    /* margin-top: 15px; */
  }

  .service-imageContainer {
    width: 85%;
    margin: 20px;
  }

  .contenedor-hero {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-main {
    margin-top: 0px;
  }

  .hero-imageContainer img {
    width: 300px;
    /* margin-left: 20px; */
  }

  header .contenedor-icono {
    position: absolute;
    bottom: 6%;
    left: 50%;
  }
  .header .contenedor-icono {
    text-align: center;
    left: 48.7%;
    bottom: 5%;
  }
}

@media screen and (max-width: 730px) {
  .fp-controlArrow.fp-prev {
    left: 40%;
  }
  .fp-controlArrow.fp-next {
    right: 40%;
  }
}

@media screen and (max-width: 590px) {
  .contact-details h1 {
    font-size: 20px;
  }

  .contact-details h3 {
    font-size: 14px;
  }

  .contact-details h3 a {
    font-size: 14px;
  }
  .contact-details h3 span {
    font-size: 14px;
  }

  .container-contact-Links {
    font-size: 30px;
  }

  .footer .container-contact-Links a {
    width: 60px;
    height: 60px;
  }

  .contact-container {
    height: 40vh;
  }

  .Ubicacion {
    font-size: 30px;
  }
}

@media screen and (max-width: 406px) {
  .hero-main {
    font-size: 35px;
  }

  .hero-emblem {
    font-size: 18px;
  }

  .header .contenedor-icono {
    left: 43.5%;
  }
}

@media screen and (max-width: 383px) {
  .nav li,
  .nav a {
    font-size: 12px;
  }

  .logros-descripcion .logros-encabezado {
    font-size: 20px;
  }

  .logros-descripcion p {
    font-size: 14px;
  }
  .container-logros h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 370px) {
  .logros-imageContainer {
    margin-right: 10px;
  }
}
